@using System.Web.Mvc.Html
@model EmpresaLocalizacao.Models.Empresa

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDKRgnBvhIlDNyjYZKzNcI9a1i915ds004&amp;sensor=false"></script>
    <title>Localização</title>
</head>
<body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<h2>Localização das Empresas</h2>
<hr/>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("txtNome", "Empresa: ",
                new {text = "Nome:", @class = "control-label col-md-2"})
            <div class="col-md-10" style="margin-top: 5px">
                @Html.DropDownList("EmpresaId", String.Empty)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10" style="margin-top: 5px">
                <label id="txtEndereco"></label>
            </div>
        </div>
        <hr />

        <div id="mapa" style="height: 500px; width: 100%; margin-top: 20px"></div>

        <script src="~/Scripts/mapa.js"></script>
        <script src="~/Scripts/get.address.js"></script>

        <script type="text/javascript">
            function localizacao(id) {
                $.getJSON('@Url.Action("LocalizacaoJson", "Empresas")', { empresaId: id }, localizacaoCallBack);
            }
        </script>

    </div>
</body>
</html>


